name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x
        
    - name: Restore dependencies for Code Repo
      run: dotnet restore  src/*.csproj
      
    - name: Build Code Repo
      run: dotnet build src/*.csproj --no-restore
      
    - name: Test Code Repo
      run: dotnet test  src/*.csproj --no-build --verbosity normal
      
    - name: Run Code Repo in Docker Compose
      run: docker compose up
      
    - name: Checkout Test Repo
      uses: actions/checkout@v3
      with:
        repository: martinkearn/Int-test-multi-repo-test
        path: Int-test-multi-repo-test
        
    - name: Restore dependencies for Test Repo
      run: dotnet restore  Int-test-multi-repo-test/src/*.csproj
      
    - name: Build Test Repo
      run: dotnet build Int-test-multi-repo-test/src/*.csproj --no-restore
